@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

#title {
    text-align: center;
}

#card{
    display: flex;
    justify-content: center;
    align-content: center;
}

#basic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: antiquewhite;
    height: 470px;
    width: 350px;
    margin: auto;
    /* border: 3px solid black; */
    /* padding-top: 10px; */
    
}

#text{
    padding-left: 10px;
    padding-right: 10px;
}

#img-basic {
    height: 247px;
    width: 350px;
}

.btn {     
    /* background-color: Transparent; */
    /* border: none; */
    cursor:pointer;
    box-sizing: border-box;
    /* padding: 10px; */
    /* overflow: hidden;  */
    /* padding: 10px;       */
}

.btn :hover{
    background-color: palevioletred;
}

#btns{
    display: flex;
    justify-content: space-evenly;   
}

#icons-btn :hover{
    background-color: palevioletred;
}